:root {

    --color-darkA: rgba(81,91,47, 1.0);
    --color-darkB: rgba(178,117,55, 1.0);
    --color-midB: rgba(212, 163, 115, 1.0);
    --color-midA: rgba(204, 213, 174, 1.0);
    --color-lightA: rgba(233, 237, 201, 1.0);
    --color-lightB: rgba(250, 237, 205, 1.0);
    --color-accentA: rgba(254, 250, 224, 1.0);
    --color-bright: rgba(221, 229, 182, 1.0);
    --color-unexpectedA: rgba(152, 245, 225, 1.0);    
    --color-accentB: rgba(208, 140, 96, 1.0);

    --oix-core-backgroundImage: radial-gradient(circle at center, var(--color-midA) 1px, transparent 0);
    --iox-core-ContainerBorderColor: var(--color-darkB);

    --oix-mast-bgColor: transparent;
    --oix-mast-bgImage: linear-gradient(var(--oix-mast-bgImageColorA), var(--oix-mast-bgImageColorB));
    --oix-mast-bgImageColorA: var(--color-midA);
    --oix-mast-bgImageColorB: var(--color-midB);

    --oix-mast-edgeStyle: solid;
    --oix-mast-edgeColor: var(--color-unexpectedA);

    --oix-mast-houseMarkColor: var(--color-darkA);
    --oix-mast-houseMarkInsetColor: var(--color-midA);
    --oix-mast-proprietorMarkColor: var(--color-bright);
    --oix-mast-proprietorMarkInsetColor: var(--color-darkA);

    --oix-mast-navColor: var(--color-darkA);
    --iox-mast-navTextShadow: var(--color-unexpectedA);

    --oix-navi-sectionHead-color: var(--color-darkA);
    --oix-navi-sectionSubHead-color: var(--color-midB);
    --oix-navi-backgroundStyle: linear-gradient(var(--color-midA), var(--color-lightA), var(--color-midA));
    --oix-navi-borderColor: var(--color-midA);
    --oix-navi-borderStyle: dotted;
    
    --iox-mast-navBtnBorderColor: var(--color-accentA);
    --iox-mast-navBtnBorderStyle: dotted;
    
    --font-family-accent: 'Mona Sans Black', 'Inter';
    --font-family-standard: 'Mona Sans', 'Inter';
    --pure-white: #ffffff;
    --pure-black: #000000;
    --grid-background: var(--color-lightA);

/* ~~~~~~ EFFECT STYLINGS ~~~~~~ */
    --effect-wild-glow: 0rem 0rem 4rem var(--color-unexpectedA);
}

[data-store="JXCC"] {

}

/* ===== PRIME OPERANTS ===== */

html {
  font-size: 100%; /* Ensures 1rem defaults to the user's browser setting, typically 16px */
}

body {
    font-family: var(--font-family-standard);
    line-height: 1.8rem; 
    color: var(--gray);
    margin: 0;
    background: var(--grid-background);
    font-size: 1rem;
}

.iox_coreContainer {
  display: flex; /* Aligns sidebar and content side-by-side */
  min-height: 90vh; /* Ensures container takes full viewport height */
  border-top: solid 0.1rem var(--iox-core-ContainerBorderColor);
}

.iox_coreContents {
  flex: 1; /* Takes up remaining space */
  padding: 1.4rem;
  background-image: var(--oix-core-backgroundImage); 
  background-repeat: round; 
  background-size: 1rem 1rem; 
  width: 100vw;    

}

/* ===================== OIX MAST =================== */
.oix-mast {
    display: flex; /* DON'T CHANGE */
    position: relative; /* DON'T CHANGE */
    justify-content: space-between; /* DON'T CHANGE */
    align-items: center; /* DON'T CHANGE */
    background-color: var(--oix-mast-bgColor);
    background-image: var(--oix-mast-bgImage);
    border-bottom-width: 0.15rem; /* LOCKED SYSTEM */
    border-bottom-style: var(--oix-mast-edgeStyle);
    border-bottom-color: var(--oix-mast-edgeColor);
    padding: 0.2rem; /* DON'T CHANGE */
    height: 2.4rem;
}

.oix-mast_houseMark {
    color: var(--oix-mast-houseMarkColor);
    font-family: var(--font-family-accent);
    font-size: 1.4rem !important;
    text-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-houseMarkInsetColor);
    padding-top: 0.5rem;
    margin-right: -0.8rem;
    margin-left: 0.4rem;
}

.oix-mast_proprietorMark {
    color: var(--oix-mast-proprietorMarkColor);
    font-family: var(--font-family-accent);
    font-size: 1.2rem !important;
    text-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-proprietorMarkInsetColor);;
    padding-top: 0.5rem;
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}

.oix-mast_storeFrontTitle {
    color: var(--color-darkB);
    font-weight: 500;
    font-size: 1rem;
    text-shadow: 0.05rem 0.05rem 0rem  var(--oix-mast-houseMarkInsetColor);   
}

.oix-mast_miniNavi {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
}

.oix-mast_miniNavi a {
    color: var(--oix-mast-navColor);
    font-weight: 900;
    font-size: 0.7rem;
    text-decoration: none;
    text-shadow: 0.05rem 0.05rem 0rem var(--iox-mast-navTextShadow);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 0.05rem var(--iox-mast-navBtnBorderStyle) var(--iox-mast-navBtnBorderColor);
    border-radius: 4px;
    box-shadow: 1px 1px 0px var(--base-mid);
    margin-left: 3px;
}

.oix-mast_miniNavi a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--base-dark)
}

/* ===================== OIX PRIMARY NAVIGATION (DEFAULT: LEFT) =================== */

.oix-navi {
  width: 220px; /* Fixed width */
  position: sticky; /* Makes it stick when scrolling */
  top: 0;
  padding: 5px;
  background-image: var(--oix-navi-backgroundStyle);
  padding: 6px;    
  border-right: 0.15rem var(--oix-navi-borderStyle) var(--oix-navi-borderColor);    
  box-shadow: var(--effect-wild-glow);
}


.oix-navi-sectionContainer {
    color: var(--base-mid-2);
    font-weight: 500;
    font-size: 16px;
    text-shadow: 1px 1px 0px var(--light-accent);
}

.oix-navi-sectionHead {
    padding-top: 6px;
    font-family: var(--font-family-accent);
    font-size: 22px !important;
    color: var(--oix-navi-sectionHead-color);
    margin-right: -12px;
    text-shadow: 1px 1px 0px var(--base-mid);
    margin-left: 6px;
}

.oix-navi-sectionSubHead {
    padding-top: 6px;
    font-family: var(--font-family-accent);
    font-size: 18px !important;
    color: var(--oix-navi-sectionSubHead-color);
    margin-right: -12px;
    text-shadow: 1px 1px 0px var(--base-mid);
    margin-left: 6px;
}

.oix-navi-sectionPlacement {
    position: absolute;
    margin-left: 6px;
}


.oix-navi ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; 
  margin: 0;
  margin-top: 12px;
}

.oix-navi li {
  margin-bottom: 10px;

}

.oix-navi a {
  display: block;
    text-decoration: none;
    color: var(--accent-light);
    font-weight: 900;
    font-size: 12px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: dotted 1px var(--base-dark);
    box-shadow: 2px 2px 2px #00000033;
}



.oix-navi-sectionContainer a {
    margin-left: 3px;
    text-decoration: none;
    color: var(--base-mid-2);
    text-shadow: 1px 1px 0px var(--light-accent);
    font-weight: 900;
    font-size: 11px;
    border-radius: 4px;
    border: 1px solid var(--accent-light);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 1px 1px 0px var(--base-mid);
}


.oix-navi-sectionContainer a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--base-dark)
}

/* ================================================================== */

.icon svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 2px;
    stroke-width: 1.25 !important;
    opacity: 0.5;
}





/* ===== FOOTER ===== */
.nn_footer {
    border-top: 1px dotted var(--accent-mid-2);
    font-size: 12px;
    background-image: linear-gradient(var(--accent-light), var(--accent-mid));
    padding: 6px;
    padding-bottom: 2px;
    padding-top: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: -1px -1px 2px var(--accent-light-2);
}

.nn_footer a {
    text-decoration: none;
    color: var(--base-dark);
    font-weight: 500;
}

.nn_footer a:hover {
    text-decoration: underline;
}


.nn_footerTagline {
    display: inline-block;
    font-size: 11px;
    opacity: 0.7;
    position: absolute;
    right: 8px;
    margin-top: 10px;
}



/* Style the list items and links */




/* ===== BUTTONS ===== */
button {
    display: inline-block;
    background: #f0f4f8;
    text-decoration: none;
    color: #aaa;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.15s ease;
    margin: 2px;
}

.btn {
    
    display: inline-block;
    background: #f0f4f8;
    text-decoration: none;
    color: #aaa;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.15s ease;
    margin: 2px;
    padding: 2px !important;
    text-align: center;
    text-decoration:none;
    font-size: 11px;
}

button:hover {
    background: #f0f4f8;
}


/* ===== FORM BOX ===== */
.form-box {
    background: #f7f9fb;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    padding: 15px;
    max-width: 700px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


/* ===== TEXTAREA ===== */
textarea {
    width: 95%;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    outline: none;
}

textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 2px rgba(76,175,80,0.15);
}

/* ===== INPUT ===== */
input[type="text"],
input[type="number"] {
    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 6px 8px;
    font-size: 13px;
    outline: none;
}
input[placeholder="add tags..."] {
    background: #fafafa;
}

input {
    width: 60;
}

input:focus {
    border-color: #4CAF50;
}


/* ===== LABELS ===== */
label {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 4px;
}



/* {
    outline: 1px solid red;
} 

